

@import "../../../styles.scss";
@import '~@angular/material/theming';


$primary: map-get($star-wars-ngrx-theme, primary);

.mig-sw-movie-details {
  display: flex;
  flex-direction: column;
  &-header {
    display: flex;
    flex-direction: column;
    @include mat-elevation(6);
    background-color: mat-color($primary, 700);
    height: 120px;
    align-items: center;

    &-title {
      margin-top: 15px;
      font-size: 2rem;
      font-weight: 300;
    }

    &-opisode {
      font-size: 1.8rem;
      font-weight: 400;
    }

    &-info,
    &-director  {
      margin: auto;
      display: flex;
      justify-content: center;
      font-size: 1rem;
      font-weight: 500;
    }

    &-info  {
      margin: auto;
      display: flex;
      justify-content: center;
      font-size: 1rem;
      font-weight: 300;
    }
  }

  &-opening {
    font-weight: 300;
    margin: 20px;
  }

  &-characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    > button {
      margin: 10px 15px;
      height: 120px;
      width: 120px;
      & .mat-button-wrapper {
        padding: 0;
      }
      &:hover {
        @include mat-elevation(10);
      }
    }

    img {
      height: 110px;
      width: 110px;
      border-radius: 50px;
      @include mat-elevation(5);
      transition: 0.3s ease all;
      &:hover {
        height: 120px;
        width: 120px;
        border-radius: 55px;
      }

    }
  }

}
